<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="atomsandbots.android.sweepsnatch.user">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_hc"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_hc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".UI.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity
            android:name=".AdminPanel.NewProductActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AdminPanel.AdminMainActivity" />
        <activity android:name=".UI.ForgotPasswordActivity" />
        <activity android:name=".UI.ProductDetailsActivity" />
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Registration.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Registration.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data

            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/honey_yellow" />

        <receiver android:name=".Widget.HoneyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>