<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="atomsandbots.android.sweepsnatch.user">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_hc"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_hc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".UI.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity
            android:name=".AdminPanel.NewProductActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AdminPanel.AdminMainActivity" />
        <activity android:name=".UI.ForgotPasswordActivity" />
        <activity android:name=".UI.ProductDetailsActivity" />
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Registration.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Registration.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Widget.HoneyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>